@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} // reset

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #422F7E;
    font-family: 'Roboto', sans-serif;

    .content-container {
        text-align: center;
        background-color: white;
        padding: 50px;
        border-radius: 10px;

        .inputs-container {
            padding: 30px 0;
            width: 400px;
            
            form {
                display: flex;
                flex-direction: column;

                input, button {
                    padding: 10px 20px;
                    margin: 10px 0;
                } // input

                button {
                    background-color: #7F56DA;
                    color: white;
                    border: none;
                    border-radius: 3px;
                } // button
            } // form
        } // .inputs-container
    } // .content-container
} // .main-container