@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #422F7E;
  font-family: 'Roboto', sans-serif;
}

.main-container .content-container {
  text-align: center;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
}

.main-container .content-container .inputs-container {
  padding: 30px 0;
  width: 400px;
}

.main-container .content-container .inputs-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .content-container .inputs-container form input, .main-container .content-container .inputs-container form button {
  padding: 10px 20px;
  margin: 10px 0;
}

.main-container .content-container .inputs-container form button {
  background-color: #7F56DA;
  color: white;
  border: none;
  border-radius: 3px;
}
/*# sourceMappingURL=styles.css.map */